<h1>Nearest Fuel Station</h1>

<h2>Name: <%= @fuel_station.name %></h2>
<p>Address: <%= @fuel_station.address %></p>
<p>Fuel Type: <%= @fuel_station.fuel_type %></p>
<p>Access Times: <%= @fuel_station.access_times %></p>
