---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=RWGszWhEStbSOOmqn7vwLP5DC5eOCRl7GN1ZEX5U&limit=1&location=1331%2017th%20St%20LL100,%20Denver,%20CO%2080202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 05 Nov 2022 15:53:41 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
      X-Vcap-Request-Id:
      - ec8c4435-bd6d-45ed-4985-80dc2b04e8d6
    body:
      encoding: UTF-8
      string: '{"latitude":39.75055,"longitude":-104.99673,"location_country":"US","precision":{"value":8,"name":"address","types":["street_address"]},"station_locator_url":"https://afdc.energy.gov/stations/","total_results":239,"station_counts":{"total":540,"fuels":{"BD":{"total":0},"E85":{"total":2},"ELEC":{"total":532,"stations":{"total":231}},"HY":{"total":0},"LNG":{"total":0},"CNG":{"total":1},"LPG":{"total":5}}},"offset":0,"fuel_stations":[{"access_code":"public","access_days_time":"24
        hours daily","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2022-11-05","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":233490,"open_date":"2022-10-14","owner_type_code":null,"status_code":"E","restricted_access":null,"station_name":"17TH
        ST PLAZA P1 EV STATION","station_phone":"888-758-4389","updated_at":"2022-11-05T01:45:51Z","facility_type":null,"geocode_status":"GPS","latitude":39.750284,"longitude":-104.995227,"city":"Denver","intersection_directions":null,"plus4":null,"state":"CO","street_address":"1225
        17th St","zip":"80202","country":"US","bd_blends":null,"cng_dispenser_num":null,"cng_fill_type_code":null,"cng_psi":null,"cng_renewable_source":null,"cng_total_compression":null,"cng_total_storage":null,"cng_vehicle_class":null,"e85_blender_pump":null,"e85_other_ethanol_blends":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.chargepoint.com/","ev_other_evse":null,"ev_pricing":null,"ev_renewable_source":null,"hy_is_retail":null,"hy_pressures":null,"hy_standards":null,"hy_status_link":null,"lng_renewable_source":null,"lng_vehicle_class":null,"lpg_primary":null,"lpg_nozzle_types":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"access_days_time_fr":null,"intersection_directions_fr":null,"bd_blends_fr":null,"groups_with_access_code_fr":"Public","ev_pricing_fr":null,"ev_network_ids":{"station":["USCPIL13129851"],"posts":["22450591","22450601"]},"distance":0.08212,"distance_km":0.13216}]}'
  recorded_at: Sat, 05 Nov 2022 15:53:41 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=1331%2017th%20St%20LL100,%20Denver,%20CO%2080202&key=U16RGHuCwcLbNH1LNewCAdwNAnfXdLLA&to=39.750284,-104.995227
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Sat, 05 Nov 2022 15:53:41 GMT
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":false,"boundingBox":{"lr":{"lng":-104.994141,"lat":39.749493},"ul":{"lng":-104.996773,"lat":39.75108}},"distance":0.303,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":false,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"00:01:02","sessionId":"63668705-01df-5f21-02b4-37c7-0a5c61014d77","hasAccessRestriction":false,"realTime":77,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":0.03,"legs":[{"hasTollRoad":false,"hasBridge":false,"destNarrative":"","distance":0.303,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":false,"index":0,"formattedTime":"00:01:02","origIndex":1,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":-1,"time":62,"hasUnpaved":false,"origNarrative":"Go
        northeast on Lawrence St/CO-33.","maneuvers":[{"distance":0.108,"streets":["17th
        St"],"narrative":"Start out going southeast on 17th St toward Larimer St/CO-33.","turnType":6,"startPoint":{"lng":-104.996773,"lat":39.75061},"index":0,"formattedTime":"00:00:26","directionName":"Southeast","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=U16RGHuCwcLbNH1LNewCAdwNAnfXdLLA&size=225,160&locations=39.7506103515625,-104.99677276611328|marker-1||39.74949264526367,-104.995361328125|marker-2||&center=39.750051498413086,-104.99606704711914&defaultMarker=none&zoom=13&rand=-1953835268&session=63668705-01df-5f21-02b4-37c7-0a5c61014d77","transportMode":"AUTO","attributes":0,"time":26,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":5},{"distance":0.092,"streets":["Lawrence
        St","CO-33"],"narrative":"Turn left onto Lawrence St/CO-33.","turnType":6,"startPoint":{"lng":-104.995361,"lat":39.749493},"index":1,"formattedTime":"00:00:15","directionName":"Northeast","maneuverNotes":[],"linkIds":[],"signs":[{"extraText":"","text":"33","type":505,"url":"http://icons.mqcdn.com/icons/rs505.png?n=33","direction":0}],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=U16RGHuCwcLbNH1LNewCAdwNAnfXdLLA&size=225,160&locations=39.74949264526367,-104.995361328125|marker-2||39.750431060791016,-104.994140625|marker-3||&center=39.749961853027344,-104.9947509765625&defaultMarker=none&zoom=14&rand=-1953835268&session=63668705-01df-5f21-02b4-37c7-0a5c61014d77","transportMode":"AUTO","attributes":0,"time":15,"iconUrl":"http://content.mqcdn.com/mqsite/tu[...]
[...]
