---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=RWGszWhEStbSOOmqn7vwLP5DC5eOCRl7GN1ZEX5U&limit=1&location=1331%2017th%20St%20LL100,%20Denver,%20CO%2080202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 04 Nov 2022 23:15:34 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '933'
      X-Vcap-Request-Id:
      - a8232630-1e83-4fc9-78b8-eadeda1eea9a
    body:
      encoding: UTF-8
      string: '{"latitude":39.75055,"longitude":-104.99673,"location_country":"US","precision":{"value":8,"name":"address","types":["street_address"]},"station_locator_url":"https://afdc.energy.gov/stations/","total_results":239,"station_counts":{"total":540,"fuels":{"BD":{"total":0},"E85":{"total":2},"ELEC":{"total":532,"stations":{"total":231}},"HY":{"total":0},"LNG":{"total":0},"CNG":{"total":1},"LPG":{"total":5}}},"offset":0,"fuel_stations":[{"access_code":"public","access_days_time":"24
        hours daily","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2022-11-04","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":233490,"open_date":"2022-10-14","owner_type_code":null,"status_code":"E","restricted_access":null,"station_name":"17TH
        ST PLAZA P1 EV STATION","station_phone":"888-758-4389","updated_at":"2022-11-04T01:44:34Z","facility_type":null,"geocode_status":"GPS","latitude":39.750284,"longitude":-104.995227,"city":"Denver","intersection_directions":null,"plus4":null,"state":"CO","street_address":"1225
        17th St","zip":"80202","country":"US","bd_blends":null,"cng_dispenser_num":null,"cng_fill_type_code":null,"cng_psi":null,"cng_renewable_source":null,"cng_total_compression":null,"cng_total_storage":null,"cng_vehicle_class":null,"e85_blender_pump":null,"e85_other_ethanol_blends":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.chargepoint.com/","ev_other_evse":null,"ev_pricing":null,"ev_renewable_source":null,"hy_is_retail":null,"hy_pressures":null,"hy_standards":null,"hy_status_link":null,"lng_renewable_source":null,"lng_vehicle_class":null,"lpg_primary":null,"lpg_nozzle_types":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"access_days_time_fr":null,"intersection_directions_fr":null,"bd_blends_fr":null,"groups_with_access_code_fr":"Public","ev_pricing_fr":null,"ev_network_ids":{"station":["USCPIL13129851"],"posts":["22450591","22450601"]},"distance":0.08212,"distance_km":0.13216}]}'
  recorded_at: Fri, 04 Nov 2022 23:15:34 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=1225%2017th%20St&key=U16RGHuCwcLbNH1LNewCAdwNAnfXdLLA&to=39.750284,-104.995227
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Fri, 04 Nov 2022 23:15:34 GMT
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":true,"boundingBox":{"lr":{"lng":-104.989616,"lat":39.750687},"ul":{"lng":-115.372147,"lat":51.099564}},"distance":1153.0161,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"16:43:46","sessionId":"63659d16-01bd-5f21-02b4-3811-0253e490895f","hasAccessRestriction":false,"realTime":66947,"hasSeasonalClosure":false,"hasCountryCross":true,"fuelUsed":60.79,"legs":[{"hasTollRoad":false,"hasBridge":true,"destNarrative":"Proceed
        to 1772 LARIMER ST.","distance":1153.0161,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":true,"index":0,"formattedTime":"16:43:46","origIndex":6,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":true,"roadGradeStrategy":[[]],"destIndex":30,"time":60226,"hasUnpaved":false,"origNarrative":"Go
        east on TC-1 E.","maneuvers":[{"distance":0.078,"streets":["17 St"],"narrative":"Start
        out going east on 17 St toward 11 Ave.","turnType":2,"startPoint":{"lng":-115.372147,"lat":51.097168},"index":0,"formattedTime":"00:00:19","directionName":"East","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=U16RGHuCwcLbNH1LNewCAdwNAnfXdLLA&size=225,160&locations=51.09716796875,-115.37214660644531|marker-1||51.0975456237793,-115.37055969238281|marker-2||&center=51.09735679626465,-115.37135314941406&defaultMarker=none&zoom=15&rand=-1991632613&session=63659d16-01bd-5f21-02b4-3811-0253e490895f","transportMode":"AUTO","attributes":0,"time":19,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":8},{"distance":0.208,"streets":["11
        Ave"],"narrative":"Turn left onto 11 Ave.","turnType":6,"startPoint":{"lng":-115.37056,"lat":51.097546},"index":1,"formattedTime":"00:00:59","directionName":"Northwest","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=U16RGHuCwcLbNH1LNewCAdwNAnfXdLLA&size=225,160&locations=51.0975456237793,-115.37055969238281|marker-2||51.09956359863281,-115.3715591430664|marker-3||&center=51.098554611206055,-115.3710[...]
[...]
