---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=1331%2017th%20St%20LL100,%20Denver,%20CO%2080202&key=U16RGHuCwcLbNH1LNewCAdwNAnfXdLLA&to=39.750284,-104.995227
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Sat, 05 Nov 2022 15:53:43 GMT
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":false,"boundingBox":{"lr":{"lng":-104.994141,"lat":39.749493},"ul":{"lng":-104.996773,"lat":39.75108}},"distance":0.303,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":false,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"00:01:02","sessionId":"63668707-026b-5f21-02b4-382e-0adfd5ca3731","hasAccessRestriction":false,"realTime":77,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":0.03,"legs":[{"hasTollRoad":false,"hasBridge":false,"destNarrative":"","distance":0.303,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":false,"index":0,"formattedTime":"00:01:02","origIndex":1,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":-1,"time":62,"hasUnpaved":false,"origNarrative":"Go
        northeast on Lawrence St/CO-33.","maneuvers":[{"distance":0.108,"streets":["17th
        St"],"narrative":"Start out going southeast on 17th St toward Larimer St/CO-33.","turnType":6,"startPoint":{"lng":-104.996773,"lat":39.75061},"index":0,"formattedTime":"00:00:26","directionName":"Southeast","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=U16RGHuCwcLbNH1LNewCAdwNAnfXdLLA&size=225,160&locations=39.7506103515625,-104.99677276611328|marker-1||39.74949264526367,-104.995361328125|marker-2||&center=39.750051498413086,-104.99606704711914&defaultMarker=none&zoom=13&rand=-1105079194&session=63668707-026b-5f21-02b4-382e-0adfd5ca3731","transportMode":"AUTO","attributes":0,"time":26,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":5},{"distance":0.092,"streets":["Lawrence
        St","CO-33"],"narrative":"Turn left onto Lawrence St/CO-33.","turnType":6,"startPoint":{"lng":-104.995361,"lat":39.749493},"index":1,"formattedTime":"00:00:15","directionName":"Northeast","maneuverNotes":[],"linkIds":[],"signs":[{"extraText":"","text":"33","type":505,"url":"http://icons.mqcdn.com/icons/rs505.png?n=33","direction":0}],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=U16RGHuCwcLbNH1LNewCAdwNAnfXdLLA&size=225,160&locations=39.74949264526367,-104.995361328125|marker-2||39.750431060791016,-104.994140625|marker-3||&center=39.749961853027344,-104.9947509765625&defaultMarker=none&zoom=14&rand=-1105079194&session=63668707-026b-5f21-02b4-382e-0adfd5ca3731","transportMode":"AUTO","attributes":0,"time":15,"iconUrl":"http://content.mqcdn.com/mqsite/tu[...]
