---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=vksGtYyncRJogrvcd3Y4kh1pqhNNoBBzLtWzDS6A&fuel_type=ELEC&limit=1&location=1331%2017th%20St%20LL100,%20Denver,%20CO%2080202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 16 Sep 2022 22:21:49 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '967'
      X-Vcap-Request-Id:
      - 8140ed81-7e7d-43c2-6593-5c4ba61ee525
    body:
      encoding: UTF-8
      string: '{"latitude":39.750614,"longitude":-104.996775,"location_country":"US","precision":{"value":9,"name":"premise","types":["premise"]},"station_locator_url":"https://afdc.energy.gov/stations/","total_results":224,"station_counts":{"total":516,"fuels":{"BD":{"total":0},"E85":{"total":0},"ELEC":{"total":516,"stations":{"total":224}},"HY":{"total":0},"LNG":{"total":0},"CNG":{"total":0},"LPG":{"total":0}}},"offset":0,"fuel_stations":[{"access_code":"public","access_days_time":"MO:
        Not Specified; TU: Not Specified; WE: Not Specified; TH: Not Specified; FR:
        Not Specified; SA: Not Specified; SU: Not Specified","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2022-09-16","expected_date":"2022-09-09","fuel_type_code":"ELEC","groups_with_access_code":"TEMPORARILY
        UNAVAILABLE (Public)","id":212679,"open_date":"2022-03-25","owner_type_code":null,"status_code":"T","restricted_access":null,"station_name":"CBRE
        As Agent for EQC Operating Trust","station_phone":"800-663-5633","updated_at":"2022-09-16T00:38:25Z","facility_type":null,"geocode_status":"GPS","latitude":39.7502666,"longitude":-104.9951694,"city":"Denver","intersection_directions":null,"plus4":null,"state":"CO","street_address":"1225
        17th Street, Suite 130","zip":"80202","country":"US","bd_blends":null,"cng_dispenser_num":null,"cng_fill_type_code":null,"cng_psi":null,"cng_renewable_source":null,"cng_total_compression":null,"cng_total_storage":null,"cng_vehicle_class":null,"e85_blender_pump":null,"e85_other_ethanol_blends":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"SemaCharge
        Network","ev_network_web":"https://semaconnect.com/","ev_other_evse":null,"ev_pricing":"FREE","ev_renewable_source":null,"hy_is_retail":null,"hy_pressures":null,"hy_standards":null,"hy_status_link":null,"lng_renewable_source":null,"lng_vehicle_class":null,"lpg_primary":null,"lpg_nozzle_types":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"access_days_time_fr":null,"intersection_directions_fr":null,"bd_blends_fr":null,"groups_with_access_code_fr":"TEMPORAIREMENT
        SUSPENDU (Public)","ev_pricing_fr":null,"ev_network_ids":{"station":["5965"],"posts":["2642","2643"]},"distance":0.0888,"distance_km":0.14291}]}'
  recorded_at: Fri, 16 Sep 2022 22:21:49 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=1331%2017th%20St%20LL100,%20Denver,%20CO%2080202&key=JyNrlaNofgUkNdk8Bek7GjKQE7EeEU6B&to=1225%2017th%20Street,%20Suite%20130,%20Denver,%20CO%2080202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Fri, 16 Sep 2022 22:21:50 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":false,"hasBridge":false,"boundingBox":{"lr":{"lng":-104.995712,"lat":39.749771},"ul":{"lng":-104.996773,"lat":39.75061}},"distance":0.081,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":false,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"00:00:18","sessionId":"6324f6fe-00eb-5f21-02b4-381e-021d133e9f25","hasAccessRestriction":false,"realTime":21,"hasSeasonalClosure":false,"hasCountryCross":false,"fuelUsed":0.01,"legs":[{"hasTollRoad":false,"hasBridge":false,"destNarrative":"","distance":0.081,"hasTimedRestriction":false,"hasTunnel":false,"hasHighway":false,"index":0,"formattedTime":"00:00:18","origIndex":-1,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":false,"roadGradeStrategy":[[]],"destIndex":-1,"time":18,"hasUnpaved":false,"origNarrative":"","maneuvers":[{"distance":0.081,"streets":["17th
        St"],"narrative":"Start out going southeast on 17th St toward Larimer St/CO-33.","turnType":6,"startPoint":{"lng":-104.996773,"lat":39.75061},"index":0,"formattedTime":"00:00:18","directionName":"Southeast","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=JyNrlaNofgUkNdk8Bek7GjKQE7EeEU6B&size=225,160&locations=39.7506103515625,-104.99677276611328|marker-1||39.74977111816406,-104.99571228027344|marker-2||&center=39.75019073486328,-104.99624252319336&defaultMarker=none&zoom=14&rand=-1957771377&session=6324f6fe-00eb-5f21-02b4-381e-021d133e9f25","transportMode":"AUTO","attributes":0,"time":18,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":5},{"distance":0,"streets":[],"narrative":"1225
        17TH ST, SUITE 130 is on the right.","turnType":-1,"startPoint":{"lng":-104.995712,"lat":39.749771},"index":1,"formattedTime":"00:00:00","directionName":"","maneuverNotes":[],"linkIds":[],"signs":[],"transportMode":"AUTO","attributes":0,"time":0,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-end_sm.gif","direction":0}],"hasFerry":false}],"options":{"arteryWeights":[],"cyclingRoadFactor":1,"timeType":0,"useTraffic":false,"returnLinkDirections":false,"countryBoundaryDisplay":true,"enhancedNarrative":false,"locale":"en_US","tryAvoidLinkIds":[],"drivingStyle":2,"doReverseGeocode":true,"generalize":-1,"mustAvoidLinkIds":[],"sideOfStreetDisplay":true,"routeType":"FASTEST","avoidTimedConditions":false,"routeNumber":0,"shapeFormat":"raw","maxWalkingDistance":-1,"destinationManeuverDisplay":true,"transferPenalty":-1,"narrativeType":"text","walkingSpeed":-1,"urbanAvoidFactor":-1,"stateBoundaryDisplay":true,"unit":"M","highwayEfficiency":22,"maxLinkId":0,"maneuverPenalty":-1,"avoidTripIds":[],"filterZoneFactor":-1,"manmaps":"true"},"locations":[{"dragPoint":false,"displayLatLng":{"lng":-104.996773,"lat":39.750614},"adminArea4":"Denver","adminArea5":"Denver","postalCode":"80202-1507","adminArea1":"US","adminArea3":"CO","type":"s","sideOfStreet":"R","geocodeQualityCode":"P1AAA","adminArea4Type":"County","linkId":12471326,"street":"1331
        17th St","adminArea5Type":"City","geocodeQuality":"POINT","adminArea1Type":"Country","adminArea3Type":"State","latLng":{"lng":-104.996775,"lat":39.750614}},{"dragPoint":false,"displayLatLng":{"lng":-104.995712,"lat":39.749771},"adminArea4":"Denver","adminArea5":"Denver","postalCode":"80202-1501","adminArea1":"US","adminArea3":"CO","type":"s","sideOfStreet":"L","geocodeQualityCode":"P1AAA","adminArea4Type":"County","linkId":69805175,"street":"1225
        17th St, SUITE 130","adminArea5Type":"City","geocodeQuality":"POINT","adminArea1Type":"Country","adminArea3Type":"State","latLng":{"lng":-104.995712,"lat":39.749772}}],"time":18,"hasUnpaved":false,"locationSequence":[0,1],"hasFerry":false},"info":{"statuscode":0,"copyright":{"imageAltText":"©
        2022 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","text":"©
        2022 MapQuest, Inc."},"messages":[]}}'
  recorded_at: Fri, 16 Sep 2022 22:21:50 GMT
recorded_with: VCR 6.1.0
