---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=uOvaT9AvA3ZKU9s827pQOiV7q7xlmUQG5T37qb5y&location=1985%20Sheridan%20Blvd.%20Edgewater,%20CO%2080214
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '977'
      Last-Modified:
      - Fri, 04 Jun 2021 17:49:00 GMT
      Public-Key-Pins:
      - pin-sha256="X3pGTSOuJeEVw989IJ/cEtXUEmy52zs1TZQrU06KUKg=" max-age=15552000;
        includeSubDomains
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.747489,"longitude":-105.053219,"location_country":"US","precision":{"value":8,"name":"address","types":["street_address"]},"station_locator_url":"https://afdc.energy.gov/stations/","total_results":205,"station_counts":{"total":475,"fuels":{"BD":{"total":0},"E85":{"total":3},"ELEC":{"total":467,"stations":{"total":197}},"HY":{"total":0},"LNG":{"total":0},"CNG":{"total":0},"LPG":{"total":5}}},"offset":0,"fuel_stations":[{"access_code":"public","access_days_time":"24
        hours daily","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2021-06-04","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":152119,"open_date":null,"owner_type_code":null,"status_code":"E","station_name":"Target
        T2225","station_phone":"833-632-2778","updated_at":"2021-06-04T01:23:11Z","facility_type":null,"geocode_status":"GPS","latitude":39.745826,"longitude":-105.054796,"city":"Edgewater","intersection_directions":null,"plus4":null,"state":"CO","street_address":"1985
        Sheridan Blvd.","zip":"80214","country":"US","bd_blends":null,"cng_dispenser_num":null,"cng_fill_type_code":null,"cng_psi":null,"cng_renewable_source":null,"cng_total_compression":null,"cng_total_storage":null,"cng_vehicle_class":null,"e85_blender_pump":null,"e85_other_ethanol_blends":null,"ev_connector_types":["CHADEMO","J1772COMBO"],"ev_dc_fast_num":6,"ev_level1_evse_num":null,"ev_level2_evse_num":null,"ev_network":"Electrify
        America","ev_network_web":"https://www.electrifyamerica.com/","ev_other_evse":null,"ev_pricing":null,"ev_renewable_source":null,"hy_is_retail":null,"hy_pressures":null,"hy_standards":null,"hy_status_link":null,"lng_renewable_source":null,"lng_vehicle_class":null,"lpg_primary":null,"lpg_nozzle_types":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"access_days_time_fr":null,"intersection_directions_fr":null,"bd_blends_fr":null,"groups_with_access_code_fr":"Public","ev_pricing_fr":null,"ev_network_ids":{"station":["130"],"posts":["200023-01","200023-02","200023-03","200023-04","200023-05","200023-06"]},"distance":0.14219,"distance_km":0.22883},{"access_code":"public","access_days_time":"Mon
        6:00am - 6:00pm; Tue 6:00am - 6:00pm; Wed 6:00am - 6:00pm; Thu 6:00am - 6:00pm;
        Fri 6:00am - 6:00pm; Sat 6:00am - 6:00pm; Sun 6:00am - 6:00pm","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2021-06-04","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":182831,"open_date":null,"owner_type_code":null,"status_code":"E","station_name":"EDGEWATER
        CC NORTH CC","sta[...]
